<section id="sign-up">
  <header>
    <a [routerLink]="['/home']">
      <img src="assets/images/logo.png" alt="logo" class="logo"/>
    </a>
  </header>
  <section class="main-section">
        <section class="log-in-section">
          <article class="form-section">
              <h2>Login</h2>
              <div>
                <mat-form-field class="full-width">
                  <mat-label>Username</mat-label>
                  <input type="text" name="username" matInput placeholder="Mount123" [(ngModel)]="username"/>
                </mat-form-field>
              </div>
              <div>
                <mat-form-field class="full-width">
                  <mat-label>Password</mat-label>
                  <input type="password" name="password" matInput placeholder="Mount123" [(ngModel)]="password"/>
                </mat-form-field>
                <label *ngIf="incorrect">
                  Incorrect <strong>Username</strong> or <strong>Password</strong>
                </label>
              </div>
          </article>
          <button mat-button (click)="login()">login</button>
          <p>Not a member? <a [routerLink]="['/signup']">Sign up</a></p>
        </section>
  </section>
</section>
