<section>
  <header>
    <div>
      <a [routerLink]="['/home']">
        <img src="../../../assets/logo.png" alt="logo" class="logo"/>
      </a>
      <a mat-button [routerLink]="['/user']" >Home</a>
      <a mat-button [routerLink]="['/events']" >Events</a>
    </div>
    <div class="sign-out">
      <button mat-button (click)="logOut()">Logout</button>
    </div>
  </header>
  <main>
    <mat-grid-list cols="3">

      <mat-grid-tile *ngFor= "let event of events">
         <a [routerLink]= "['/events', event.id]">

           <!-- cards -->
           <mat-card class="mountain-events">
            <mat-card-header>
            <mat-card-title>{{event.mountain.name}}</mat-card-title>

           </mat-card-header>

           <img mat-card-image [src]="mountUrl(event)" alt="Photo of mountain">
           <mat-card-content>
             <p>
              {{ event.description.substring(0,30) }} ...
              </p>
             </mat-card-content>

             <mat-card-actions>
               </mat-card-actions>
               </mat-card>

              </a>
      </mat-grid-tile>
     </mat-grid-list>
  </main>
  <footer>

  </footer>
</section>
