header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 0 10px 0;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  div {
    display: flex;
    align-items: center;
    a {
      color: #757575;
      font-size: 2em;
    }
  }
  .sign-out {
    margin-right: 50px;
    button {
      font-size: 2em;
    }
  }
}

.mountain-info {
  background-color: #f6f7f8;
  display: flex;
  justify-content: center;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.mountain-detail {
  margin-left: 50px;
  width: 400px;
  padding: 50px;
  h2 {
    font-size: 4em;
    color: #000000;
    margin-bottom: 50px;
    line-height: normal;
  }
  h3 {
    font-size: 2em;
  }
}

.event-info {
  padding: 50px;
  display: flex;
  justify-content: space-around;
  h2 {
    line-height: normal;
    font-size: 4em;
    color: #000000;
  }
  p {
    line-height: normal;
    font-size: 2em;
  }
  .event-description {
    width: 45%;
  }
  .event-meta {
    width: 45%;
  }
}

nav {
  padding: 20px 0 20px 0;
  top: 0px;
  position: sticky;
  display: flex;
  justify-content: space-around;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  a {
    padding: 10px;
    font-size: 2em;
  }
  .join-btn, .complete-btn {
      color: #ffffff;
      font-size: 2em;
      padding: 10px;
      background-color: #7BC289;
  }
  .leave-btn, .delete-btn {
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
    background-color: #ec3636;
  }
  .chat-btn {
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
    background-color: #00a2c7;
  }
  .edit-btn {
    color: #ffffff;
    font-size: 2em;
    padding: 10px;
    background-color: #00a2c7;
  }
}

.host-info {
  div {
    display: flex;
    align-items: center;
  }
  img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  }
  p {
    font-size: 4em;
    margin-left: 20px;
  }

}

.map {
  margin-top: 50px;
  overflow: hidden;
  border-radius: 5px;
  height: 500px;
}

.members {
  margin-top: 50px;
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}
