<section>
  <header>

  </header>
  <section class="mountain-info">
    <app-mountain-model [mountain]="mountainEvent.mountain"></app-mountain-model>
    <article class="mountain-detail">
      <div>
        <h2>{{ mountainEvent.mountain.name }}</h2>
        <button   (click)= "joinEvent()" *ngIf="!joined()">Join Event</button>

        <button   (click)= "unjoinEvent()" *ngIf="joined()">Unjoin Event</button>
      </div>
    </article>
  </section>
  <section class="Event-description">
    <article>
      <h2>Description</h2>
      <p>

        {{ mountainEvent.description }}
      </p>
    </article>
    <article>

    </article>
  </section>

</section>
