#sign-up {
  height: 100vh;
}

header {
  position: relative;
  padding: 30px 0 30px 0;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
}

.main-section {
  padding: 0 100px 0 100px;
}

.sign-up-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .form-section {
    margin-top: 50px;
    width: 500px;
    div {
      position: relative;
    }
    h2 {
      font-size: 4em;
      text-align: center;
      color: #000000;
    }
    .full-width {
        width: 100%;
        font-size: 2em;
    }
    button {
      margin-top: 25px;
      margin-bottom: 25px;
      color: #ffffff;
      font-size: 2em;
      width: 100%;
      padding: 10px;
      background-color: #7BC289;
    }
    label {
      bottom: 0;
      left: 0;
      color: #ed1c40;
      position: absolute;
      font-size: 1.2em;
    }
  }
  span {
    border-top: solid 1px #757575;
    height: 1px;
    width: 350px;
    margin-bottom: 10px;
  }
}

.about-you-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  .form-section {
    margin-top: 50px;
    width: 500px;
    div {
      position: relative;
    }
    h2 {
      font-size: 4em;
      text-align: center;
      color: #000000;
    }
    .full-width {
        width: 100%;
        font-size: 1.5em;
    }
    button {
      margin-top: 25px;
      margin-bottom: 25px;
      color: #ffffff;
      font-size: 2em;
      width: 100%;
      padding: 10px;
      background-color: #7BC289;
    }
    .image-btn {
      font-size: 2em;
      width: 50%;
    }
    p {
      text-overflow: clip;
    }
    label {
      bottom: 0;
      left: 0;
      color: #ed1c40;
      position: absolute;
      font-size: 1.2em;
    }
    .textarea {
      textarea {
        resize: none;
        height: 140px;
      }
      p {
        font-size: 1.2em;
        margin: 0;
      }
    }
  }
}
