<section id="sign-up">
  <header>
    <a [routerLink]="['/home']">
      <img src="assets/images/logo.png" alt="logo" class="logo"/>
    </a>
  </header>
  <section class="main-section">
    <mat-horizontal-stepper #stepper>
      <!-- first part of the form -->
      <mat-step label="Step 1">
        <ng-template matStepLabel>Sign Up</ng-template>
        <section class="sign-up-section">
          <article class="form-section">
              <h2>Sign Up</h2>
              <div>
                <mat-form-field class="full-width">
                  <mat-label>Username *</mat-label>
                  <input type="text" name="username" matInput placeholder="Mount123" [(ngModel)]="user.username"/>
                </mat-form-field>
                <label *ngIf="usernameError">
                  Username is <strong>Required</strong>
                </label>
                <label *ngIf="usernameAvaible">
                  Username not <strong>Available</strong>
                </label>
              </div>
              <div>
                <mat-form-field class="full-width">
                  <mat-label>Email *</mat-label>
                  <input type="text" name="email" matInput placeholder="mount@mount.com" [(ngModel)]="user.email"/>
                </mat-form-field>
                <label *ngIf="emailError">
                  Email is <strong>Required</strong>
                </label>
              </div>
              <div>
                <mat-form-field class="full-width">
                  <mat-label>Password *</mat-label>
                  <input type="password" name="password" matInput placeholder="Mount123" [(ngModel)]="user.password"/>
                </mat-form-field>
                <label *ngIf="passwordError">
                  Password is <strong>Required</strong>
                </label>
              </div>
              <button mat-button (click)="checkUsername(stepper)">Continue</button>
          </article>
          <p>* required</p>
          <span></span>
          <p>Already a member? <a [routerLink]="['/login']">Log in</a></p>
        </section>
      </mat-step>
      <!-- second part of the form -->
      <mat-step label="Step 2">
        <section class="about-you-section">
          <article class="form-section">
            <h2>About You</h2>
            <ng-template matStepLabel>About You</ng-template>
            <div>
              <ng-picker-overlay
                [apikey]="key"
                (uploadSuccess)="onUploadSuccess($event)"
                >
                <button mat-button class="image-btn">Add Image</button>
              </ng-picker-overlay>
              <p>{{ user.imageUrl }} </p>
            </div>
            <div>
              <mat-form-field class="full-width">
                <mat-label>State</mat-label>
                <mat-select name="state.id" [(ngModel)]="user.state.id">
                  <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="textarea">
              <mat-form-field class="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput placeholder="Mount123" [(ngModel)]="user.description" maxlength="300"></textarea>
              </mat-form-field>
              <p>{{ user.description.length }}/300</p>
            </div>
            <button mat-button (click)="createAccount()">Create</button>
          </article>
        </section>
      </mat-step>
      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </section>
</section>

