header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 10px 0 10px 0;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  div {
    display: flex;
    align-items: center;
    a {
      color: #757575;
      font-size: 2em;
    }
  }
  .sign-out {
    margin-right: 50px;
    button {
      font-size: 2em;
    }
  }
}
.mountain-events {
  max-width: 400px;
}
