<section>
  <header>
    <div>
      <a [routerLink]="['/home']">
        <img src="../../../assets/logo.png" alt="logo" class="logo"/>
      </a>
      <a mat-button [routerLink]="['/user']" >Home</a>
    </div>
    <div class="sign-out">
      <button mat-button (click)="logOut()">Logout</button>
    </div>
 </header>
 <main>
   <section>
     <article *ngFor= "let event of events">
        <a [routerLink]= "['/events', event.id]"><p>{{ event.description }}</p></a>
     </article>
   </section>
 </main>
 <footer>

 </footer>
</section>
