section {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(47,53,62,.86);
}

.chatroom {
  height: 60%;
  width: 60%;
  background-color: #eee;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}


.close-btn {
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10050;
  cursor: pointer;
  display: block;
  width: 22px;
  height: 22px;
  outline: 0;
  position: absolute;
  top: 13px;
  right: 10px;
  opacity: .5;
  transition: all .2s ease-out;
  background-image: url(../../../assets/icon-close.svg);
  &:hover {
    opacity: 1;
  }
}

.message-container {
  padding: 50px 10px 0 10px;
  overflow: scroll;
  height: 80%;
  width: 90%;
}

.message {
  img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
}

.user {
  display: flex;
  justify-content: flex-end;
  div {
    display: flex;
    flex-direction: row-reverse;
  }
}

.message-input {
  width: 100%;
  padding: 0 10px 20px 10px;
  box-sizing: border-box;
}

.full-width {
  width: 100%;
  font-size: 2em;

}

button {
  border-radius: 5px;
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    width: 60%;
    padding: 10px;
    bottom: -20px;
    background-color: #7BC289;
}
