<section id="user">
  <main>
      <header>
        <a [routerLink]="['/home']">
          <img src="../../../assets/logo.png" alt="logo" class="logo"/>
        </a>
        <div class="sign-out">
          <button mat-button (click)="openEditUserModal()">Setting</button>
          <button mat-button (click)="logOut()">Logout</button>
        </div>
      </header>
      <section class="user-info">
          <div class="image-container">
            <div>
              <img [src]="user.imageUrl" />
            </div>
          </div>
          <div class="user-info-text">
            <div class="user-name">
              <h1>{{ user.username }} &nbsp;&nbsp;<span></span>&nbsp;&nbsp; {{ user.state.name }}</h1>
            </div>
            <div class="user-text">
              <p>{{ user.description }}</p>
            </div>
          </div>
      </section>
      <nav>
        <a mat-button [routerLink]="['/events']" >Events</a>
        <a mat-button [routerLink]="['/attending']">Attending</a>
        <a mat-button [routerLink]="['/createEvent']" >Create Event</a>
        <a mat-button [routerLink]="['/host']"  >Hosting</a>
      </nav>
      <section class="user-mountains">
        <mat-grid-list cols="2">

          <mat-grid-tile *ngFor= "let mountain of user.mountains">
              <!-- cards -->
              <mat-card class="mountain-events">
                <mat-card-header>
                  <mat-card-title>{{mountain.name}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="createUrl(mountain)" alt="Photo of mountain">
              </mat-card>
          </mat-grid-tile>
        </mat-grid-list>
      </section>
  </main>
  <app-update-user [updateUser]="updateUser" [open]="editModal" [closeEditUserModal]="closeEditUserModal"></app-update-user>
  <footer>

  </footer>
</section>
