section {
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: rgba(47,53,62,.86);
}
h2 {
  font-size: 4em;
  text-align: center;
  color: #000000;
}

.edit-event-section {
  background-color: rgb(131, 65, 151);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  height: 500px;
  width: 750px;
  border-radius: 5px;

  .full-width {
      font-size: 1.5em;
      width: 100%;
  }
  .date {
    width: 80%;
  }

  .edit-event-btn {
    border-radius: 5px;
    position: absolute;
    color: #ffffff;
    font-size: 2em;
    width: 60%;
    padding: 10px;
    bottom: -20px;
    background-color: #7BC289;
  }

  .textarea {
    width: 80%;
    textarea {
      resize: none;
      height: 140px;
    }
    p {
      font-size: 1.2em;
      margin: 0;
  }
}
}
