<section id="create-event">
  <header>
    <div>
      <a [routerLink]="['/home']">
        <img src="../../../assets/logo.png" alt="logo" class="logo"/>
      </a>
      <a mat-button [routerLink]="['/user']" >Home</a>
      <a mat-button [routerLink]="['/events']" >Events</a>
    </div>
    <div class="sign-out">
      <button mat-button (click)="logOut()">Logout</button>
    </div>
  </header>
  <section class="main-section">
    <mat-horizontal-stepper #stepper>
      <!-- first part of the form -->
      <mat-step label="Step 1">
        <ng-template matStepLabel>Mountain Info</ng-template>
        <section class="mountain-section">
          <article class="form-section">
              <h2>Mountain Info</h2>
              <div>
                <mat-form-field class="full-width">
                  <mat-label>Mountain Name *</mat-label>
                  <input type="text" name="mountainName" matInput placeholder="Mount123" [(ngModel)]="event.mountain.name"/>
                </mat-form-field>
                <label *ngIf="mountainNameInput">
                  Mountain Name is <strong>Required</strong>
                </label>
              </div>
              <div>
                <div>
                  <mat-form-field class="full-width">
                    <mat-label>Latitude *</mat-label>
                    <input type="number" name="latitude" matInput placeholder="90.234453" [(ngModel)]="event.mountain.latitude"/>
                  </mat-form-field>
                  <label *ngIf="mountainLatInput">
                    Latitude is <strong>Required</strong>
                  </label>
                  <label *ngIf="LatRange">
                    Latitude needs to be in range of <strong>-90</strong> to <strong>90</strong>
                  </label>
                </div>
                <div>
                  <mat-form-field class="full-width">
                    <mat-label>Longitude *</mat-label>
                    <input type="number" name="longitude" matInput placeholder="-120.234432" [(ngModel)]="event.mountain.longitude"/>
                  </mat-form-field>
                  <label *ngIf="mountainLongInput">
                    Longitude is <strong>Required</strong>
                  </label>
                  <label *ngIf="longRange">
                    Longitude needs to be in range of <strong>-180</strong> to <strong>180</strong>
                  </label>
                </div>
                <div>
                  <mat-form-field class="full-width">
                    <mat-label>Height *</mat-label>
                    <input type="number" name="height" matInput placeholder="234432" [(ngModel)]="event.mountain.height"/>
                  </mat-form-field>
                  <label *ngIf="mountainHeightInput">
                    Height is <strong>Required</strong>
                  </label>
                </div>
              </div>
              <div class="mountain-nav">
                <mat-form-field class="half-width">
                  <mat-label>State *</mat-label>
                  <mat-select name="state.id" [(ngModel)]="event.mountain.state.id">
                    <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="half-width">
                  <mat-label>Class *</mat-label>
                  <mat-select name="mountainClass.id" [(ngModel)]="event.mountain.mountainClass.id">
                    <mat-option *ngFor="let mountainClass of mountainClasses" [value]="mountainClass.id">Class {{ mountainClass.classType }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div>
                <button mat-button matStepperNext>Next</button>
              </div>
          </article>
          <p>* required</p>
        </section>
      </mat-step>





      <!-- second part of the form -->
      <mat-step label="Step 2">
        <ng-template matStepLabel>Event Info</ng-template>
        <section class="event-section">
          <article class="form-section">
            <h2>Event Info</h2>
            <div class="date">
              <mat-form-field class="full-width">
                <mat-label>Choose a date *</mat-label>
                <input matInput [matDatepicker]="picker" [(ngModel)]="event.eventDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <label *ngIf="EventDateInput">
                Date is <strong>Required</strong>
              </label>
            </div>
            <div class="textarea">
              <mat-form-field class="full-width">
                <mat-label>Description *</mat-label>
                <textarea matInput placeholder="Mount123" [(ngModel)]="event.description" maxlength="800"></textarea>
              </mat-form-field>
              <p>{{ event.description.length }}/800</p>
              <label *ngIf="EventDescriptionInput" class="desc-error">
                Description is <strong>Required</strong>
              </label>
            </div>
            <div class="event-buttons">
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="createEvent(stepper)">Create</button>
            </div>
          </article>
          <p>* required</p>
        </section>
      </mat-step>
      <ng-template matStepperIcon="edit">
        <mat-icon>done</mat-icon>
      </ng-template>
    </mat-horizontal-stepper>
  </section>
</section>
