/* You can add global styles to this file, and also import other style files */
body {
  font-family: Sans-serif;
  color: #757575;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit {
  background-color: #7BC289 !important;
}

.fsp-modal {
  border-radius: 5px !important;
  overflow: hidden !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
