#home {
  min-height: 100vh;
  position: relative;
}

header {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  .sign-in {
    margin-right: 50px;
    a {
      all: unset;
      cursor: pointer;
      font-size: 2em;
      margin: 20px;
      transition: 0.2s;
      &:hover {
        color: #7BC289;
      }
    }
  }
}

section {
  min-height: 100vh;
}

.welcome {
  background-color: #DEF8F7;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #7BC289;
  height: 100px;
  width: 100%;
}
