#home {
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}

header {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  .sign-in {
    margin-right: 50px;
    a {
      all: unset;
      cursor: pointer;
      color: #757575;
      font-size: 2em;
      margin: 20px;
      transition: 0.2s;
      &:hover {
        color: #7BC289;
      }
    }
  }
}

header {
  div {
    display: flex;
    align-items: center;
    .event{
      all: unset;
      cursor: pointer;
      color: #757575;
      font-size: 2em;
      margin-left: 20px;
      transition: 0.2s;
      &:hover {
        color: #7BC289;
      }
    }
  }
  .sign-out {
    margin-right: 50px;
    button {
      font-size: 2em;
    }
  }
}

section {
  min-height: 100vh;
}

.welcome {
  background-color: #DEF8F7;
  display: flex;
  justify-content: center;
  align-items: center;
  div {
    position: relative;
    z-index: 3;
  }
  h1 {
    color: #000000;
    font-size: 5em;
    font-weight: bold;
  }
  p {
    color: #000000;
    font-size: 2em;
    text-align: center;
  }
}

.image-one {
  z-index: 2;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
}

.image-two {
  z-index: 1;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  background-color: #7BC289;
  height: 100px;
  width: 100%;
}
